---
import Layout from "../../layouts/Layout.astro"
---

<Layout>
  <div class="general pt-4 pb-5">
    <div class="container">
        <section>
            <h1>Nosotros</h1><br>
            <p>Full Games es una empresa líder en los sectores de tecnología y videojuegos en la localidad de Ica,
                con más de 15 años de experiencia. Nos especializamos en ofrecer una amplia gama de productos
                tecnológicos,
                desde dispositivos de uso personal y doméstico hasta equipos para el trabajo y el entretenimiento.
                Nuestra prioridad es brindar un servicio de calidad y garantía a nuestros clientes, asegurando su
                satisfacción en
                cada compra.</p>

        </section>
    </div>
    <div class="container mt-4">
        <section class="mision" id="Productos">
            <h2>Misión</h2>
            <p>Nuestra misión es proporcionar productos de alta calidad y un servicio excepcional que garantice
                la satisfacción del usuario y del cliente en todo momento.</p>
        </section>
        <section class="vision mb-0" id="HotSale">
            <h2>Visión</h2>
            <p>Nos esforzamos por ser reconocidos como la principal empresa en ventas de videojuegos y
                dispositivos electrónicos en la región de Ica, siendo líderes en innovación, calidad y servicio
                al cliente.</p>
        </section>
    </div>
</div>

</Layout>