---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<div class="general pt-4">
			<div class="container">
					<section id="Bienvenida" class="Bienvenida">
							<h1>Bienvenido a FULL GAMES</h1><br>
							<p>Bienvenidos al sitio web oficial de "FULL GAMES", empresa dedicada a la tecnología y videojuegos.</p>
							<p>Nuestro principal objetivo es brindar a los clientes productos y servicios de calidad, buscando
									siempre su satisfacción.</p>
							<p>Distribuimos diferentes tipos de productos, desde tecnologías para el hogar, como parlantes, luces
									inteligentes.</p>
							<p>Pero más que todo nos diferenciamos en el sector de los videojuegos, destacando en la venta de
									consolas</p>
							<p>ofreciendo productos con garantía y además servicio para los mismos.</p>
							<p>¡Únete a nosotros para una experiencia inolvidable!</p>
					</section>
			</div>

			<div class="container mt-4">
					<section id="Productos" class="Productos">
							<h2>Productos Destacados</h2>
							<img src="IMG/PS5.png" class="img-fluid" alt="Responsive image">
							<p>Play Station 5 - Lectora de Disco</p><br>

							<img src="IMG/Switch.png" class="img-fluid" alt="Responsive image">
							<p>Nintendo Switch-Versión Oled Blanca</p><br>
							<img src="IMG/Xbox.png" class="img-fluid" alt="Responsive image">
							<p>Xbox Series X</p><br>
					</section>
					
					<section id="HotSale" class="mb-0">

							<marquee style="color: rgb(207, 19, 19); font-size: 30px;" direction="right">
									<h2>¡HOT SALE!</h2>
							</marquee>
							<div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
									<div class="carousel-indicators">
											<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
													class="active" aria-current="true" aria-label="Slide 1"></button>
											<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
													aria-label="Slide 2"></button>
											<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
													aria-label="Slide 3"></button>
									</div>
									<div class="carousel-inner">
											<div class="carousel-item active">
													<div class="row">
															<div class="col-6 d-flex justify-content-center">
																	<img src="IMG/Xbox S.png" class="d-block" alt="...">
															</div>
															<div class="col-6 d-flex justify-content-center">
																	<img src="IMG/PS5 Spiderman.png" class="d-block" alt="...">
															</div>
													</div>

											</div>
											<div class="carousel-item">
													<div class="row">
															<div class="col-6 d-flex justify-content-center">
																	<img src="IMG/Switch Roja.png" class="d-block" alt="...">
															</div>
															<div class="col-6 d-flex justify-content-center">
																	<img src="IMG/Switch Pokemon.png" class="d-block" alt="...">
															</div>
													</div>

											</div>
											<div class="carousel-item">
													<div class="row">
															<div class="col-6 d-flex justify-content-center">
																	<img src="IMG/GTA V ps5.png" class="d-block" alt="...">
															</div>
															<div class="col-6 d-flex justify-content-center">
																	<img src="IMG/Mario Kart.png" class="d-block" alt="...">
															</div>
													</div>

											</div>
									</div>
									<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
											data-bs-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Previous</span>
									</button>
									<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
											data-bs-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Next</span>
									</button>
							</div>

					</section>
			</div>
	</div>
</Layout>
