---
const today = new Date();
---

<footer class="bg-dark text-white pt-4 pb-4">
	<div class="container">
			<div class="row">
					<div class="col-md-4">
							<h5>Nuestras Redes</h5>
							<p><a href="https://wa.me/51968681903" class="text-white" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp 1</a></p>
							<p><a href="https://wa.me/51976508434" class="text-white" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp 2</a></p>
							<p><a href="https://www.facebook.com/profile.php?id=100041047767073" class="text-white" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></p>
					</div>
					<div class="col-md-4">
							<h5>Enlaces</h5>
							<ul class="list-unstyled">
									<li><a href="/" class="text-white">Inicio</a></li>
									<li><a href="/nosotros" class="text-white">Nosotros</a></li>
									<li><a href="/productos/1" class="text-white">Productos</a></li>
									<!-- <li><a href="/contac" class="text-white">Contacto</a></li> -->
							</ul>
					</div>
					<div class="col-md-4">
							<h5>Contacto</h5>
							<address>
									<strong>FULL GAMES</strong><br>
									Calle Lima 614<br>
									Ica, Peru<br>
									<abbr title="Teléfono">Tel:</abbr> +51 976 508 434
							</address>
					</div>
			</div>
			<div class="row mt-3">
					<div class="col text-center">
							<p>&copy; {today.getFullYear()} FULL GAMES. Todos los derechos reservados.</p>
					</div>
			</div>
	</div>
</footer>